body {
    padding-top: 50px;
}

.navbar-fixed-top {
    border: 0;
}

.sidebar {
    position: fixed;
    top: 51px;
    width: 220px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 0;
    margin-right: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #453744;
    border-right: 1px solid #eee;
}

li#channelListBox {
    height: 30px;
}

li#channelListBox > a {
    color: #AB9BA9;
    padding-top: 5px;
    padding-bottom: 5px;
}

div#channelListHeader {
    height: 30px;
}

div#channelListFotter {
    height: 100px;
}

.mCSB_inside > .mCSB_container {
    margin-right: 15px;
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  background-color: #362835;
}

.media-object {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

div#channelMassages {
    position: absolute;
    left: 220px;
    padding-left: 30px;
    width: auto;
}
