doctype html
html
    head
        meta(charset='UTF-8')
        title Slack Log Viewer
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    body
        button(type="button" class="btn btn-default") Default
        "hello world!!!"
